* {
  font-family: "JetBrains Mono";
}

main {
  width: 100vw;
  height: 100vh;
}

.code-area {
  cursor: text;
}

.line-counter {
  width: 42px;
  background-color: grey;
}

.cursor-bar {
  position: absolute;
  border-left: 2px solid red;
  height: 24px;
}

.line {
  margin: 0;
  font-size: 16px;
  height: 24px;
}

.line-highlited {
  color: red;
}

.mouse-cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: blue;
}

.fill-screen {
  width: 100vw;
  height: 100vh;
}

.fill-screen-vertically {
  height: 100vh;
}

.selection {
  background-color: rgba(0, 120, 215, 0.3);
}
