* {
  font-family: Consolas, monaco, monospace;
}

main {
  width: 100vw;
  height: 100vh;
}

.code-area {
  cursor: text;
}

.line-counter {
  width: 42px;
  background-color: grey;
}

.cursor-bar {
  position: absolute;
  border-left: 2px solid red;
  height: 24px;
}

.line {
  margin: 0;
  font-size: 16px;
  height: 24px;
}

.line-highlited {
  color: white;
  background-color: rgb(0, 0, 0);
}

.mouse-cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: blue;
}
